
#gridpane {
    -fx-background-color: #d0e0ff;
    -fx-background-image: url("../images/world.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}
